<header [class.header-page]="router.url !='/'">
    <nav>
        <div routerLink="" class="logo"><h1>Santa Fe <br> Piscinas</h1></div>
        <div class="menu">
            <a (click)="irA('Nosotros')">NOSOTROS</a>
            <a (click)="irA('Piscinas')">PISCINAS</a>
            <a (click)="irA('Clientes')">CLIENTES</a>
            <a (click)="irA('Contacto')">CONTACTO</a>
            <button type="button" routerLink="armador" class="button1">PRESUPUESTAR</button>
        </div>
    </nav>
</header>