<header [class.header-page]="router.url =='/armador'">
    <nav>
        <div routerLink="" class="logo"><h1>Santa Fe <br> Piscinas</h1></div>
        <div class="menu">
            <a [routerLink] = "['/']"  fragment="Nosotros">NOSOTROS</a>
            <a [routerLink] = "['/']"  fragment="Piscinas">PISCINAS</a>
            <a [routerLink] = "['/']"  fragment="Clientes">CLIENTES</a>
            <a [routerLink] = "['/']"  fragment="Contacto">CONTACTO</a>
            <button type="button" routerLink="armador" class="button1">PRESUPUESTAR</button>
        </div>
    </nav>
</header>