@import '/src/styles.scss';
header {
    width: 100%;
    background:rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 100;
    height: 7.98vw;
    nav {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        padding: 0 9.31vw 0 11.25vw;
        height: 100%;
        user-select: none;
        .logo{
            h1{
                text-align: center;
                @include fontstyle($fontfamily3,$size-logo,700,$color-font1)
            }
        }
        .menu {
            display: flex;
            align-items: center;
            gap:3.34vw;
            a{
                cursor: pointer;
                @include fontstyle($fontfamily1,$size-nav,600,$color-font1)
            }
            @include botones();
        }
    }
}