<div class="armador">
    <div class="menu-left">
        <nav>
            <ul class="navigation">
                <div *ngFor="let item of menu">
                    <li><a (click)="showmenu('1')">{{item.menuItem}}</a></li>
                    <input id="1" type="radio" name="submenuRadio">
                    <div class="submenuShow" for="submenuRadio">
                        <div class="submenu">
                            <li><a>SubMenú 1</a></li>
                        </div>
                        <div class="submenu">
                            <li><a>SubMenú 2</a></li>
                        </div>
                        <div class="submenu">
                            <li><a>SubMenú 3</a></li>
                        </div>
                    </div>

                </div>
            </ul>
        </nav>
    </div>
    <div class="cont-armador">

    </div>
</div>