<div class="armador">
    <div class="menu-left">
        <nav>
            <ul class="navigation">
                <div *ngFor="let item of menu; index as i">
                    <li><a (click)="showmenu(i); setPresu(item.MenuItem, 0, item.id)">{{item.menuItem}}<span style="font-size: 0.5vw;" *ngIf="item.flgSubmenu == 1">►</span></a></li>
                    <input id={{i}} type="radio" name="submenuRadio">
                    <div class="submenuShow" for="submenuRadio" >
                        <div class="submenu" *ngFor="let subItem of item.subMenu">
                            <li (click)="setPresu(subItem.subMenuItem, 1, item.id)"><a>{{subItem.subMenuItem}}</a></li>
                        </div>
                    </div>
                </div>
                <li><a (click)="reiniciarMsj()">Reiniciar</a></li>
            </ul>
        </nav>
    </div>
    <div class="cont-armador">
        <div><p>{{presupuesto}}</p></div>
        <div class="armador">
            <div *ngIf="localPres">Mensaje seteado en localStorage: <p>{{localPres}}</p></div>
        </div>
    </div>
</div>