@import "/src/styles.scss";
.armador{
    display: flex;
    .menu-left{
        display: flex;
        position: relative;
        nav{
            display: flex;
            width: 12vw;
            min-height:100vh;
            background:$color-principal;
            transition:.4s ease;
          }
          .navigation{
            padding: 0;
            width: 100%;
          }
          .navigation li{
            list-style:none;
            cursor: pointer;
            border-bottom: 1px solid rgba(255,255,255,.5);
            z-index: 10;
            a {
            display: flex;
            flex-direction: row;
            }
          }
          
          .navigation a{
            color:#fff;
            font-weight: 500;
            display: block;
            line-height:3.5;
            padding: 0 1vw;
            text-decoration:none;
            transition:.4s ease;
          }
          
          .navigation a:hover{
            transform:translateX(10%);
          }
          input{
            display: none;
          }
          .navigation input:checked + .submenuShow .submenu{
            
              opacity: 1;
              height: 3vw;
              pointer-events: all;
              transition: all .3s ease;
          
          }
          .submenu{
            position: relative;
            opacity: 0;
            height: 0;
            background:$color-secundario2;
            pointer-events: none;
            transition: all .3s ease;
            z-index: 5;
            a{
              margin-left: 2.5vw;
            }
          }
    }
    .cont-armador{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}