<div class="wrapperContacto">
    <div class="porqueEsperar">
        <h1>¿POR QUÉ ESPERAR MÁS?</h1>
        <p>¡Haz realidad tu sueño de tener una piscina este verano!"</p>
        <button class="button1">PRESUPUESTAR</button>
    </div>
    <div class="contenedorCont">
        <h1>Comenzá ahora</h1>
        <div class="wrappertabla">
            <div class="tabla">
                <div class="card cardWP">
                    <img src="" alt="Logo Whatsapp"><p>Chatear con nosotros</p>
                </div>
                <div class="card">
                    <img src="" alt="telefono icono"><p>Mail</p>
                </div>
                <div class="card">
                    <img src="" alt="lugar icono"><p>St. N°</p>
                </div>
            </div>
            <div class="imgTabla">
                <img src="../../../assets/img/Home/imgInner2.webp" alt="">
            </div>
        </div>
    </div>
</div>
