<div class="wrapperContacto">
    <div class="porqueEsperar">
        <h1>¿POR QUÉ ESPERAR MÁS?</h1>
        <p>¡Haz realidad tu sueño de tener una piscina este verano!</p>
        <button routerLink="/armador" class="button1">PRESUPUESTAR</button>
    </div>
    <div class="contenedorCont">
        <h1>Comenzá ahora</h1>
        <div class="wrappertabla">
            <div class="tabla">
                <div class="card cardWP">
                    <img src="../../../assets/img/Home/Contacto/wp.svg" alt="Logo Whatsapp"><p>Chatear con nosotros</p>
                </div>
                <div class="card">
                    <img src="../../../assets/img/Home/Contacto/phone.svg" alt="telefono icono"><p>Mail</p>
                </div>
                <div class="card">
                    <img src="../../../assets/img/Home/Contacto/map.svg" alt="lugar icono"><p>St. N°</p>
                </div>
            </div>
            <div class="imgTabla">
                <img src="../../../assets/img/Home/imgInner2.webp">
            </div>
        </div>
    </div>
</div>
