<div class="wrapperOlas">
    <div class="contenedor">
        <div class="sec1">
            <h2>¿Cómo simular y cotizar tu piscina?</h2>
            <button class="button2">SIMULADOR</button>
        </div>
        <div class="sec2">
            <div *ngFor="let card of cards" class="cardcont">
                <div class="circulo">
                    <img src="{{card.icono}}">
                </div>
                <h3>{{card.titulo}}</h3>
                <p>{{card.texto}}</p>
            </div>
        </div>
    </div>
</div>