.wrapperProdu{
    display: flex;
    height: 40vw;
    background-image: url('../../../assets/img/Home/imginicio.webp');
    background-repeat: no-repeat;
    background-size: cover;
    .productos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        span{
            margin: auto;
        }
    }
}