.wrapper {

    display: flex;
    position: relative;
    // top: - $height-header;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url('/assets/img/slider_home/image 4.webp');
    background-repeat: no-repeat;
    background-size: cover;

}